@import url('https://fonts.googleapis.com/css?family=Delius+Unicase:700|Freckle+Face|Arimo');
:root {
    --brown: #a08553;
    --red: #701c39;
    --purple: #561448;
    --cream: #fbfdf7;
    --green: #d8fadb;
    --saddleBrown: #80280F;
    --saddleBrownDark: #3C1208;
    --Tan: #CFB7A2;
    -sienna: #A65D2D;
    --peru: #C88C57;
}
h1 {
    font-family: 'Freckle Face', sans-serif;
    color: var(--purple);
}
h3 {
    font-family: 'Delius Unicase', cursive;
    color: var(--green);
}
p {
    font-family: 'Arimo', sans-serif;
    color: var(--red);
}
fieldset {
    background-color: rgba(60, 18, 8, 0.7);
    max-width: 500px;
    padding: 10px 20px;
    margin: 10px auto;
    border: 1em solid var(--green);
}
legend {
    color: var(--cream);
    font-size: 1.4em;
    margin-bottom: 10px;
}
label {
    color: var(--cream);
    display: block;
    margin-bottom: 2px;
}
input[type="text"] {
    border: none;
    background: #CFB7A2;
    border-radius: 4px;
    font-size: 16px;
    margin:0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}
input[type="text"]:focus {
    background: white;
}
input[type="button"] {
    position: relative;
    display: block;
    padding: 9px 39px 10px 39px;
    color: var(--red);
    margin: 0 auto;
    background: var(--green);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #aedbd2;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
input[type="button"]:hover {
    background: var(--brown);
    color: var(--cream);
    font-weight: bold;
}

  
 