body { background: url(../assets/mitch-lensink-588486-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* #c2 { background: url(../assets/tuce-629552-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
}

#sending-sandy {
    background-color: rgba(128, 128, 128, .8);
    border: solid 2px;
    border-radius: 2px;
    border-color: #A77D63;
}
#delivery-bike {
    border: solid 2px;
    border-radius: 2px;
    border-color: #382723;
    background-color: rgba(128, 128, 128, .8);
    margin-top: 290px;
}

#bike {
    opacity: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}