body { background: url(../assets/mitch-lensink-588486-unsplash.jpg) no-repeat center center fixed;
    /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  margin: 0;
}
h3 {
    margin: 5px;
}
.heading {
    margin-top: 0;
    padding-top: 0.7em;
    font-size: 73px;
    margin-left: 20%;
    margin-bottom: 0.3em;
}
#sending-sandy {
    background-color: rgba(60, 18, 8, 0.7);
    border: solid 2px;
    border-radius: 5px;
    border-color: var(--tan);
    width: 40%;
    margin-left: 22%;
    /* padding-left: 1em; */
    position: relative;
    left: 87px;
    bottom: 0;
    height: 81px;
}

#delivery-bike {
    height: 389px;
    padding-bottom: 8em;
    /* border: solid 2px;
    border-radius: 2px;
    border-color: var(--tan);
    background-color: rgba(60, 18, 8, 0.7);
    margin-top: 290px; */
}
#bike {
    /* opacity: 1; */
    /* display: block; */
    /* margin-left: 33%; */
    /* margin-right: auto; */
    width: 40%;
    /* align-items: center; */
    margin-left: 29%;
}