body {
    background-image: url("../assets/PBJ.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
    position: relative;
}
p {
    color: var(--cream);
}
h4 {
    font-family: 'Arimo', sans-serif;
    color: var(--cream);
}
#header-logo { 
    position: relative;
    top: 20%;    
    left: 0;
    right: 0; 
    margin-bottom: 5%;
    padding-top: 10%;
}
#header-logo .logo {
    font-size: 200px;
    position: relative;
    left: 18%;
    top: 18%;
    color: #fbfdf7;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 66%;
}
#header-logo h3 {
    font-size: 40px;
    text-shadow: 3px 3px 5px black;
    padding: 5px;
    border-radius: 30px;
    margin-top: 0;
    position: relative;
    top: 12%;
    left: 37%;
}
nav {
    clear: both;
    /* background-color: rgba(60, 18, 8, 0.7); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
nav a {
    font-family: 'Delius Unicase', cursive;
    font-size: 22px;
    color: #fbfdf7;
    text-shadow: 3px 3px 5px black;
    float: left;
    text-decoration: none;
    padding-top: 20px;
    margin-left: 4%;
    color: var(--cream);
    padding-left: 1em;
}
#sign-in {
    background: var(--green);
    font-size: 22px;
    text-align: center;
    font-style: normal;
    border: 1px solid #aedbd2;
    border-width: 1px 1px 3px;
    padding: 10px 20px 16px 18px;
    margin-top: 5px;
}
#home-page-forms {
    margin: 0 1em 0 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    font-family:'Arimo', sans-serif;
}
.hidden {
    display: none;
}
.unhidden {
    display: block;
}
form {
    margin-left: 10%;
    margin-top: 5%;
    max-width: 850px;
}
fieldset {
    background-color: rgba(60, 18, 8, 0.7);
    max-width: 800px;
    padding: 10px 20px;
    border: 3px solid var(--tan);
}
legend {
    color: var(--cream);
    text-shadow: 3px 3px 5px black;
    font-size: 1.4em;
    margin-bottom: 10px;
}
label {
    color: var(--cream);
    display: block;
    margin-bottom: 2px;
}

input[type="password"] {
    border: none;
    background: #CFB7A2;
    border-radius: 4px;
    font-size: 16px;
    margin:0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="password"]:focus {
    background: white;
}

#aboutSection {
    padding: 1em;
    margin-top: 5%;
    background-color: rgba(60, 18, 8, 0.7);
}

#contactSection {
    padding: 1em;
    margin-top: 5%;
    background-color: rgba(60, 18, 8, 0.7);
}

#food-sources-infoSection {
    background-color: rgba(60, 18, 8, 0.7);
    padding: 1em;
    margin-top: 10%;
}
