body {
    position: relative;
    background-image: url("../assets/PBJ.jpg");
    background-repeat: repeat-y;
    background-size: contain;
}
#page-wrapper {
    background-color: rgba(207, 183, 162, 0.5);
    margin: 0;
}
p {
    color: var(--cream);
}
h4 {
    font-family: 'Arimo', sans-serif;
    color: var(--cream);
}
#header-logo { 
    position: relative;
    top: 0;    
    left: 0;
    right: 0; 
    height: 500px;
}
#header-logo .logo {
    /* background-color: rgba(60, 18, 8, 0.7); */
    /* border-radius: 50%;  */
    font-size: 200px;
    position: relative;
    left: 18%;
    top: 18%;
    color: #fbfdf7;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 66%;
}
#header-logo h3 {
    font-size: 40px;
    text-shadow: 3px 3px 5px black;
    padding: 5px;
    border-radius: 30px;
    margin-top: 0;
    position: relative;
    top: 12%;
    left: 37%;
}
nav {
    /* background-color: rgba(60, 18, 8, 0.7); */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}
nav a {
    font-family: 'Freckle Face', sans-serif;
    font-size: 30px;
    color: #fbfdf7;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    float: left;
    text-decoration: none;
    padding: 10px;
    color: var(--cream);
    padding-left: 1em;
}

nav a:last-of-type {
    float: right;
    padding-right: 1em;
}
#home-page-forms {
    margin: 0 1em 0 1em;
    display: flex;
    justify-content: space-evenly;
    height: 680px;
    font-family:'Arimo', sans-serif;
}
fieldset {
    background-color: rgba(60, 18, 8, 0.7);
    max-width: 500px;
    padding: 10px 20px;
    margin: 10px;
    border: 5px solid var(--green);
}
legend {
    color: var(--cream);
    text-shadow: 3px 3px 5px black;
    font-size: 1.4em;
    margin-bottom: 10px;
}
label {
    color: var(--cream);
    display: block;
    margin-bottom: 2px;
}

input[type="password"] {
    border: none;
    background: #CFB7A2;
    border-radius: 4px;
    font-size: 16px;
    margin:0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input[type="password"]:focus {
    background: white;
}

#about{
    padding: 1em;
    margin-top: 105px;
    background-color: rgba(60, 18, 8, 0.7);
}

#contact {
    padding: 1em;
    margin-top: 105px;
    background-color: rgba(60, 18, 8, 0.7);
}

#food-sources-info {
    background-color: rgba(60, 18, 8, 0.7);
    padding: 1em;
    margin-top: 105px;
    height: 600px;
}
