









/* h3 {
  color: purple;
}

input {
    font-family: 'Arimo', sans-serif;
    color: var(--red);
}

legend {
  float: flex;
}

#move-to-summary-button {
    float: right;
    margin-right: 200px;
} */
