body {
  background-image: url(../assets/peanut-butter-jelly-mistakes-646.jpg);
  background-attachment: fixed;
  overflow-x: hidden;
  margin: 0;
}
p {
  font-family: 'Arimo', sans-serif;
  color: var(--cream);
  margin-top: 0;
  margin-left: 2em;
}
h1 {
  font-size: 100px;
  position: relative;
  left: 15%;
  top: 5%;
  color: #fbfdf7;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
}
div#sandwich-combos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
#fave-sandwiches {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(60, 18, 8, 0.7);
  border: 5px solid var(--green);
  width: 50%;
  margin-left: 23%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
h3 {
  width: 100%;
  font-family: 'Arimo', sans-serif;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  color: #CFB7A2;
  padding: 10px;
  text-align: center;
}
lh {
color: var(--green);
font-family: 'Arimo', sans-serif;
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
font-size: 18px;
width: 200px;
}
#sandwich-combos ul {
  padding-bottom: 0;
  margin-top: 0;
  margin-left: 0px;
  margin-bottom: 0px;
  width: 120px;
  margin-right: 0px;
}
#fave-sandwiches li {
  list-style: none;
  font-family: 'Arimo', sans-serif;
  color: var(--cream);
}
fieldset h3 {
  margin: 0;
  padding: 0;
  width: 51%;
}
form {
  max-width: 20%;
  margin: auto;
  flex-grow: 1;
}
fieldset {
  max-width: 70%;
  padding: 5px 5px 10px 45px;
}
label {
  cursor: pointer;
  float: left;
  width: 123px;
  margin-right: 10px;
  /* text-align: right; */
  margin: 6px;
}
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  float: left;
  margin: 9px;
}
#order-page-forms{
  display: flex;  
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  align-items: flex-start;
}
form.options {
  margin-top: 2%;
  margin-left: 20px;
  margin-right: 20px;
}
#button {
  cursor: pointer;
  position: relative;
  border: none;
}
#button img {
  width: 250px;
}
/* #button img:hover{
  width: 275px;
} */
#button {
  box-shadow: none;
}
input[type="button"] {
  position: absolute;
  top: 50px;
  left: -5%;
  width: 100%;
  background: transparent;
  border: none;
  color: #80280F;
  text-shadow: 5px 5px 5px rgba(255, 255, 255, 0.5);
  font-family:'Delius Unicase', cursive;
  cursor: pointer;
  font-size: 20px;
}
input[type="button"]:hover {
  background-color: transparent;
  color: #80280F;
  font-size: 30px;
}
h3#verification {
  width: 100%;
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  color: var(--red);
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}