body {
  background-image: url(../assets/peanut-butter-jelly-mistakes-646.jpg);
  /* background-repeat: no-repeat;
  background-size: 100%; */
  overflow-x: hidden;
  margin: 0;
}
h1 {
  font-size: 100px;
  position: relative;
  left: 15%;
  top: 5%;
  color: #fbfdf7;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
}
form {
  padding-left: 0;
  max-width: 20%;
  margin-left: 2%;
  margin-bottom: 20px;
}
fieldset {
  max-width: 70%;
}
#order-page-forms{
  display: flex;  
  align-content: space-between;
}
#additional-options {
  display: flex;  
  align-content: space-between;
}
form.options {
  max-width: 45%;
  margin-left: 2%;
}
fieldset.add-options {
  max-width: 70%;
}
input[type="button"] {
  max-width: 28%;
  position: relative;
  left: 20%;
}








/* h3 {
  color: purple;
}

input {
    font-family: 'Arimo', sans-serif;
    color: var(--red);
}

legend {
  float: flex;
}

#move-to-summary-button {
    float: right;
    margin-right: 200px;
} */
