body { background: url(../assets/amy-shamblen-765182-unsplash.jpg) no-repeat center center fixed; }


/* #b1 { background: hsl(0, 50%, 50%); } */
/* #b3 { background: url(../assets/olia-gozha-54488-unsplash.jpg) no-repeat center center fixed; } */

/* body { */
    /* background: url(../assets/amy-shamblen-765182-unsplash.jpg) no-repeat center center fixed; */
    /* background: url(../assets\olia-gozha-54488-unsplash.jpg) no-repeat center center fixed; */
    /* width: 100%;
    height: auto;
} */

#header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 90px;
    font-size: 4em;
}

#instructions {
    display: flex;
}

#review {
    justify-content: flex-start;
    width: 52%;
    margin: 70px;
}

#where {
    justify-content: flex-end;
    display: flex;
    margin: 70px;
}

#finalize {
    display: flex;
}

#summary-container{
    width: 49%;
    right: 50%;
    justify-content: flex-start;
    margin: 5px;
    border-color: #DC9023;
    border-radius: 3px;
}

#address-box {
    display: flex;
    width: 50%;
    right: 50%;
    margin: 5px;
}

#address {
    display: flex;
    width: 100%;
    right: 50%;
    border-color: #DC9023;
    border-radius: 3px;
}

#button {
    justify-content: flex-end;
    display: flex;
    height: 40px;
}
#order-button {
    margin: 0;
}