body {
    position: relative;
    background-color: var(--purple);
}
#header-logo {
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 80px;
}
#header-logo .logo {
    position: relative;
    left: 50%;
    top: 50%;
    color: var(--cream);
    margin-bottom: 0;
    margin-top: 0;
}
#header-logo h3 {
    color: var(--cream);
    margin-top: 0;
    position: relative;
    top: 55%;
    left: 55%;
}
nav {
    background-color: var(--purple);
    position: fixed;
    top: 0;
    left: 0;
    height: 2em;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
nav a {
    font-family:'Arimo', sans-serif;
    text-decoration: none;
    padding: 10px;
    color: var(--cream);
}
#home-page-forms {
    display: flex;
    background-color: var(--green);

    height: 300px;
    font-family:'Arimo', sans-serif;
}
#register {
    width: 70%;
}
#home-page-forms aside {
    background-color: var(--brown);
    height: 300px;
}

#home-page-forms .login {
    height: 161px;
}
#home-page-forms .guest {
    height: 100px;
}
section {
    background-color: var(--cream);
}
#about-contact-info {
    margin-top: 45px;
    display: flex;
}
#food-sources-info {
    margin-top: 45px;
    height: 600px;
}
